# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
ENV/
.venv/
.env/

# Environment variables
.env

# Logs
*.log

# Databases
*.sqlite
*.sqlite3
*.db

# macOS
.DS_Store

# IDEs
.vscode/
.idea/

# Vercel
.vercel/

# Distribution / Build
dist/
build/
*.egg-info/
